.dialog-container {
    position: relative;
    h1 {
        margin-bottom: 0;
    }
    .input-field {
        margin-top: 10px;
        &:first-child {
            margin-right: 16px;
        }
    }
    .dialog-button {
        padding: 16px;
    }
    .input-full-width {
        width: 100%;
    }
}