<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add User</h1>
    <form #addUserForm="ngForm">
        <div mat-dialog-content>
            <div>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Firstname</mat-label>
                    <input [disabled]="loading" [(ngModel)]="user.firstName" type="text" name="firstname" matInput placeholder="Firstname" pattern="[a-zA-Z]+" required>
                </mat-form-field>

                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Lastname</mat-label>
                    <input [disabled]="loading" [(ngModel)]="user.lastName" type="text" name="lastname" matInput placeholder="Lastname" pattern="[a-zA-Z]+" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="input-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input [disabled]="loading" [(ngModel)]="user.email" type="email" name="email" matInput placeholder="Email" [email]="true" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="input-full-width" appearance="outline">
                    <mat-label>Birth Date</mat-label>
                    <input [disabled]="loading" [(ngModel)]="birthDate" name="birthdate" matInput placeholder="Birth Date" [matDatepicker]="picker1" required>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="input-full-width" appearance="outline">
                    <mat-label>Street, Door Number</mat-label>
                    <input [disabled]="loading" [(ngModel)]="user.street" type="text" name="street" matInput placeholder="Street, Door Number" pattern="^[a-zA-Z0-9\s\-,]*$" required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input [disabled]="loading" [(ngModel)]="user.postCode" type="number" name="postalcode" matInput placeholder="Postal Code" required>
                </mat-form-field>

                <mat-form-field class="input-field" appearance="outline">
                    <mat-label>City</mat-label>
                    <input [disabled]="loading" [(ngModel)]="user.city" type="text" name="city" matInput placeholder="City" pattern="[a-zA-ZäüöÄÜÖ]+" required>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="dialog-button">
            <button [disabled]="loading" mat-dialog-close mat-button>Cancel</button>
            <button [disabled]="loading || addUserForm.invalid" (click)="saveUser()" mat-button>Save</button>
        </div>
    </form>
</div>
