.dialog-container {
    position: relative;
    background-color: rgb(3,33,56);
    padding: 20px;
    mat-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    h1 {
        margin-bottom: 0;
        font-size: 24px;
        color: rgb(5, 251, 251);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 20px 0;
    }
    .dialog-edit-content {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .input-field {
        margin-top: 10px;
        &:first-child {
            margin-right: 16px;
        }
    }
    .dialog-button {
        padding: 16px;
        display: flex;
        justify-content: center;
        button {
            color: rgb(5, 251, 251);
        }
    }
    .input-full-width {
        width: 100%;
    }
    mat-label {
        color: white;
    }
}