<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Edit User</h1>
    <div mat-dialog-content class="dialog-edit-content">
        <div>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Firstname</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Lastname</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Placeholder">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="E-mail">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input-full-width" appearance="outline">
                <mat-label>Birth Date</mat-label>
                <input [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="Placeholder" [matDatepicker]="picker1">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="dialog-button">
        <button [disabled]="loading" mat-dialog-close mat-button>Cancel</button>
        <button [disabled]="loading" (click)="saveUserChange()" mat-button cdkFocusInitial>Save</button>
    </div>
</div>
