<div class="search-bg">
    <div class="search-container">
        <input [(ngModel)]="inputValue" (ngModelChange)="filterTasks()" class="input-search" placeholder="Search" type="text"> 
        <button (click)="filterTasks()" class="search-btn"> 
            <img src="./assets/img/search1.png">
        </button>
    </div>
</div>

<div class="kanban-container">
    <div class="kanban-row">
        <h2>To do</h2>
        <div cdkDropList [cdkDropListData]="todoFilter" #todoList="cdkDropList" [cdkDropListConnectedTo]="[doneList, treatmentList, waitingList]"
            class="kanban-list" 
            [ngClass]="{'empty': todoFilter.length === 0}"
            (cdkDropListDropped)="drop($event, 'todo')">
            <div *ngFor="let item of todoFilter" cdkDrag class="kanban-item" (cdkDragStarted)="onDragStarted(item, 'todo')">
                <div class="info-animal">
                    <img [src]="item.img">
                    <div>{{ item.name }} ({{ item.lastName }}) </div>
                </div>
                <div class="info-treatment">
                    <div>{{ item.treatmentName }}, {{ item.hour }}</div>
                </div>
                <img *ngIf="isMobile" src="./assets/img/draganddrop.png" class="icon-drag-responsiv" (click)="openPopup(item)">
                <div *ngIf="popupOpenMap[item.id]" class="popup">
                    <button (click)="moveTo('waiting')">Move to Waiting</button>
                    <button (click)="moveTo('treatment')">Move to Treatment</button>
                    <button (click)="moveTo('done')">Move to Done</button>
                </div>
            </div>
        </div>
    </div>

    <div class="kanban-row">
        <h2>Waiting</h2>

        <div cdkDropList [cdkDropListData]="waitingFilter" #waitingList="cdkDropList" [cdkDropListConnectedTo]="[doneList, treatmentList, todoList]"
            class="kanban-list" [ngClass]="{'empty': waitingFilter.length === 0}"
            (cdkDropListDropped)="drop($event, 'waiting')">
            <div *ngFor="let item of waitingFilter" cdkDrag class="kanban-item" (cdkDragStarted)="onDragStarted(item, 'waiting')">
                <div class="info-animal">
                    <img [src]="item.img">
                    <div>{{ item.name }} ({{ item.lastName }})</div> 
                </div>
                <div class="info-treatment">
                    <div>{{ item.treatmentName }}, {{ item.hour }}</div>
                </div>
                <img *ngIf="isMobile" src="./assets/img/draganddrop.png" class="icon-drag-responsiv" (click)="openPopup(item)">
                <div *ngIf="popupOpenMap[item.id]" class="popup">
                    <button (click)="moveTo('todo')">Move to Todo</button>
                    <button (click)="moveTo('treatment')">Move to Treatment</button>
                    <button (click)="moveTo('done')">Move to Done</button>
                  </div>
            </div>
        </div>
    </div>

    <div class="kanban-row">
        <h2>Treatment</h2>

        <div cdkDropList [cdkDropListData]="treatmentFilter" #treatmentList="cdkDropList" [cdkDropListConnectedTo]="[doneList, todoList, waitingList]"
            class="kanban-list" [ngClass]="{'empty': treatmentFilter.length === 0}"
            (cdkDropListDropped)="drop($event, 'treatment')">
            <div *ngFor="let item of treatmentFilter" cdkDrag class="kanban-item" (cdkDragStarted)="onDragStarted(item, 'treatment')">
                <div class="info-animal">
                    <img [src]="item.img">
                    <div>{{ item.name }} ({{ item.lastName }})</div>
                </div>
                <div class="info-treatment">
                    <div>{{ item.treatmentName }}, {{ item.hour }}</div>
                </div>
                <img *ngIf="isMobile" src="./assets/img/draganddrop.png" class="icon-drag-responsiv" (click)="openPopup(item)">
                <div *ngIf="popupOpenMap[item.id]" class="popup">
                    <button (click)="moveTo('todo')">Move to Todo</button>
                    <button (click)="moveTo('waiting')">Move to Waiting</button>
                    <button (click)="moveTo('done')">Move to Done</button>
                  </div>
            </div>
        </div>
    </div>
  
    <div class="kanban-row">
      <h2>Done</h2>
  
        <div cdkDropList [cdkDropListData]="doneFilter" #doneList="cdkDropList" [cdkDropListConnectedTo]="[todoList, waitingList, treatmentList]"
            class="kanban-list" [ngClass]="{'empty': doneFilter.length === 0}"
            (cdkDropListDropped)="drop($event, 'done')">
            <div *ngFor="let item of doneFilter" cdkDrag class="kanban-item" (cdkDragStarted)="onDragStarted(item, 'done')">
                <div class="info-animal">
                    <img [src]="item.img">
                    <div>{{ item.name }} ({{ item.lastName }})</div> 
                </div>
                <div class="info-treatment">
                    <div>{{ item.treatmentName }}, {{ item.hour }}</div>
                </div>
                <img *ngIf="isMobile" src="./assets/img/draganddrop.png" class="icon-drag-responsiv" (click)="openPopup(item)">
                <div *ngIf="popupOpenMap[item.id]" class="popup">
                    <button (click)="moveTo('todo')">Move to Todo</button>
                    <button (click)="moveTo('waiting')">Move to Waiting</button>
                    <button (click)="moveTo('treatment')">Move to Treatment</button>
                  </div>
            </div>
        </div>
    </div>
</div>
