.dialog-container {
    position: relative;
    background-color: rgb(3, 33, 56);
    padding: 20px;
    @media only screen and (max-width: 659px) {
        padding: 12px;
    }
    mat-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }
    .add-user-content {
        padding-top: 5px;
        padding-bottom: 5px;
        @media only screen and (max-width: 659px) {
            padding: 0px;
        }
    }
    h1 {
        margin-bottom: 0;
        font-size: clamp(1.25rem, 1.1607rem + 0.4464vw, 1.875rem);
        color: rgb(5, 251, 251);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 20px 0;
    }
    .input-field {
        margin-top: 10px;
        @media only screen and (max-width: 659px) {
            width: 100%;
        }
        &:first-child {
            margin-right: 16px;
        }
    
    }
    .gender-selection {
        height: 66px;
        display: flex;
        align-items: center;
        .radio-group {
            width: 314px;
            display: flex;
            justify-content: space-evenly
        }
    }
    .dialog-button {
        padding: 16px;
        display: flex;
        justify-content: center;
        button {
            color: rgb(5, 251, 251);
            transition: all 125ms ease-in-out;
            font-size: clamp(0.875rem, 0.8214rem + 0.2679vw, 1.25rem);
            &:disabled {
                color: rgba(5, 251, 251, 0.6);
            }
            &:hover {
                background-color: rgb(1,103,175);
                transition: all 125ms ease-in-out;
            }
        }
    }
    .input-full-width {
        width: 100%;
    }
    mat-label {
        color: white;
        font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.25rem);

    }
    input {
        font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.25rem);
    }
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: rgb(3, 33, 56);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
