.imprint {
    display: flex;
    align-items: center;
    justify-content: center;
    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        gap: 10px;
        .imprint-title {
            font-size: 2vw;
            margin-bottom: 20px;
            @media only screen and (max-width:700px) {
                margin-bottom: 0px;
            }
        }
        a {
            text-decoration: none;
            cursor: pointer;
            color: rgb(5, 251, 251);
        }
        p, .privacy {
            margin: 6px;
            font-size: clamp(0.875rem, 0.8214rem + 0.2679vw, 1.25rem);
            line-height: 1.5;
        }
        h3 {
            font-size: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
            margin-bottom: 0;
        }
        h4 {
            font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.625rem);
        }
    }
}


@media only screen and (max-width: 1000px) {
    .imprint {
        .content {
            .imprint-title {
                font-size: 20px !important;
            }
        }
    }
}

