.user-info-container {
    min-height: 180px;
    background-color: rgb(1, 103, 175);
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 1px 1px 20px 1px black;
    .menu-icon {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .user-info-content {
        display: flex;
        align-items: center;
        color: white;
        padding: 0 30px;
        .profile-img {
            width: 90px;
            object-fit: cover;
            border: 2px solid white;
            border-radius: 50%;
            padding: 8px;
            background-color: white;
        }
        .user-info {
            margin-left: 32px;
            h2 {
                font-size: 24px;
            }
            .mail-img {
                width: 25px;
                cursor: pointer;
            }
        }
    }
}

.user-info-wrapper {
    margin-top: 32px;
    display: flex;
    gap: 30px;
    .user-subinfo-container {
        background-color: rgb(3, 33, 56);
        box-shadow: 0 0 10px rgb(1,103,175);
        width: 100%;
        padding-bottom: 16px;
        .user-info-sub-content {
            padding-right: 40px;
        }
        .user-subinfo-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            mat-icon {
                cursor: pointer;
            }
            .user-info-title {
                color: rgb(5, 251, 251);
            }
        }
        p {
            display: flex;
            justify-content: space-between;
            span {
                opacity: 0.6;
            }
        }
        .animals-list {
            .single-animal {
                display: flex;
                display: flex;
                align-items: center;
                transition: all 125ms ease-in-out;
                height: 48px;
                padding: 0 20px;
                img {
                    width: 25px;
                    cursor: pointer;
                    margin-right: 20px;
                }
                p {
                    font-size: 16px;
                    margin-bottom: 0; 
                    cursor: pointer;
                }
                &:nth-child(even) {
                    background-color: rgb(12, 54, 89);
                }
                &:hover {
                    background-color: rgb(1,103,175);
                    transition: all 125ms ease-in-out;
                }
            }
        }
    }
}
