mat-card-content, mat-card-content:first-child, mat-card-content:last-child {
    padding: 10px 20px 20px 20px;
    background-color: rgb(3, 33, 56);
    box-shadow: 1px 1px 20px 1px black;
    .user-table {
        width: 100%;
        border-collapse: collapse;
        tr {
            cursor: pointer;
            color: white;
            opacity: 0.9;
            transition: all 125ms ease-in-out;
            &:first-child {
                cursor: default;
                opacity: unset;
                &:hover {
                    background-color: unset;
                }
            }
            &:nth-child(even) {
                background-color: rgb(12, 54, 89);
            }
            th {
                font-size: 16px;
                text-align: start;
                height: 60px;
                color: rgb(5, 251, 251);
                &:first-child {
                    padding-left: 20px;
                }
            }
            td {
                height: 60px;
                &:first-child {
                    padding-left: 20px;
                }
            }
            &:hover {
                background-color: rgb(1,103,175);
                transition: all 125ms ease-in-out;
            }
        }
    }
}

.add-user-button {
    position: absolute;
    right: 56px;
    bottom: 56px;
    background-color: rgb(1,103,175);
}