<mat-card class="user-container">
    <mat-card-content>
        <table class="user-table" id="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>District</th>
            </tr>
            <tr *ngFor="let user of filteredUser; let i = index" [routerLink]="['/patients/' + user.id]">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.city}}</td>
            </tr>
        </table>

    </mat-card-content>
</mat-card>

<button (click)="openDialog()" class="add-user-button" mat-fab color="primary" matTooltip="Add user" [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>

<div class="search-container">
    <input class="input-search" placeholder="Search" type="text" [(ngModel)]="inputValue"
    (ngModelChange)="filterUser()">
    <button (click)="filterUser()" class="search-btn">
        <img src="./assets/img/search.png">
    </button>
</div>