.dashboard-container {
    display: flex;
    gap: 30px;
    margin-top: 25px;
    mat-card {
        height: 90px;
        width: 200px;
        cursor: pointer;
        background-color: rgb(12, 54, 89);
        border-radius: 10px;
        border:  2px solid rgb(1,103,175);
        display: flex;
        justify-content: center;
        align-items: center;
        mat-card-content {
            padding: 10px;
            font-weight: bold;
            .title {
                display: flex;
                align-items: center;
                height: 35px;
                gap: 10px;
                p {
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
            .statistic-number {
                text-align: center;
                font-size: 18px;
                color: rgb(5, 251, 251);
            }
        }
        &:hover {
            border: 2px solid rgb(5, 251, 251);
        }
    }
}
