<div class="dashboard-container">
    <div class="dashboard-info">
        <mat-card>
            <mat-card-content routerLink="/patients">
                <div class="title">
                    <mat-icon>pets</mat-icon>
                    <p>Total Patients</p>
                </div>
                <p class="statistic-number">{{ userList.length }}</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content routerLink="/calendar">
                <div class="title">
                    <mat-icon>trending_up</mat-icon>
                    <p>Patients last 30 days</p>
                </div>
                <p class="statistic-number">{{ eventsList.length }}</p>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="chart-container">
        <h3>Patients Overview</h3>
        <div class="chart-year">
            <mat-icon>arrow_back_ios_new</mat-icon>
            <p>{{eventYear}}</p>
            <mat-icon>arrow_forward_ios</mat-icon>
        </div>
        <canvas #barCanvas></canvas>
    </div>
</div>


