.dashboad-wrapper {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 900px) {
        flex-direction: column-reverse;
        align-items: center;
    }
    .dashboard-container {
        display: flex;
        margin-top: 25px;
        flex-direction: column;
        gap: 80px;
        max-height: 100vh;
        .dashboard-info {
            display: flex;
            gap: 30px;
            @media only screen and (max-width: 1573px) {
                flex-direction: column;
                align-items: center;
            }
            mat-card {
                height: clamp(4.375rem, 3.9286rem + 2.2321vw, 7.5rem);
                width: clamp(13rem, 12.5357rem + 2.3214vw, 16.25rem);
                cursor: pointer;
                background-color: rgb(12, 54, 89);
                border-radius: 10px;
                border:  2px solid rgb(1,103,175);
                display: flex;
                justify-content: center;
                align-items: center;
                mat-card-content {
                    padding: 10px;
                    font-weight: bold;
                    .statistic {
                        height: 20px;
                        display: flex;
                        justify-content: space-evenly;
                    }
                    .title {
                        display: flex;
                        align-items: center;
                        height: 35px;
                        gap: 10px;
                        p {
                            font-size: clamp(0.875rem, 0.8214rem + 0.2679vw, 1.25rem);
                            margin-bottom: 0;
                        }
                    }
                    .statistic-number {
                        text-align: center;
                        font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1.125rem);
                        color: rgb(5, 251, 251);
                    }
                }
                &:hover {
                    border: 2px solid rgb(5, 251, 251);
                }
            }
        }
        .chart-container {
            max-height: clamp(18.75rem, 16.0714rem + 13.3929vw, 37.5rem);
            max-width: clamp(18.75rem, 10.7143rem + 40.1786vw, 75rem);
            position: relative;
            .chart-year {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                right: 20px;
                top: 5px;
                width: 97px;
                color: rgb(5, 251, 251);
                font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1.125rem);
                p {
                    margin-bottom: 4px;
                }
                mat-icon {
                    cursor: pointer;
                    vertical-align: middle;
                    font-size: 20px;
                }
            }
            h3 {
                text-align: center;
                font-size: clamp(0.875rem, 0.8214rem + 0.2679vw, 1.25rem);
                @media only screen and (max-width: 488px) {
                    text-align: unset;
                }
            }
           canvas {
                height: 100% !important;
                width: 100% !important;
                background-color: rgb(3, 33, 56);
                padding: 20px;
                border-radius: 10px;
                border:  2px solid rgb(1,103,175);
    
            } 
        }  
    }
    .calender {
        width: clamp(13.75rem, 12.1429rem + 8.0357vw, 25rem);
        height: clamp(13.75rem, 12.1429rem + 8.0357vw, 25rem);;
        padding: 10px;
        background-color: rgb(12, 54, 89);
        border-radius: 10px;
        border:  2px solid rgb(1,103,175);
        .calender-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            color: rgb(5, 251, 251);
            padding: 0 clamp(0rem, -0.1518rem + 0.7589vw, 1.0625rem);
            h3 {
                margin-bottom: 0px;
                font-size: clamp(0.875rem, 0.8214rem + 0.2679vw, 1.25rem);
            }
            mat-icon {
                cursor: pointer;
            }
        }
        table {
            width: 100%;
            height: clamp(9.75rem, 8.0179rem + 8.6607vw, 21.875rem);
            font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1.125rem);
            tr {
                text-align: center;
            }
            .single-day:hover:not(.saturday,.sunday) {
                color: rgb(5, 251, 251);
                cursor:pointer;
            }
        }
        .today {
            background-color: #00bcd4;
            color: white;
            border-radius: 50%;
            padding: 5px 10px;
            border: 1px solid white;
        }
        .saturday, .sunday {
            color: darkgray;
        }
        .saturday.today, .sunday.today {
            color: black; 
        }
    }
}


  
  
