<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav d-none" [opened]="isDrawerOpened" mode="side" id="drawer" >
        <div class="logo-container">
            <img src="./assets/img/logo.png">
        </div>
  
        <ul class="menu-items">
            <li routerLink="/dashboard" [class.active]="activeLink('dashboard')">
                <mat-icon>space_dashboard</mat-icon>
                <span>Dashboard</span>
            </li>
            <li routerLink="/patients" [class.active]="activeLink('patients')">
                <mat-icon>perm_identity</mat-icon>
                <span>Patients</span>
            </li> 
            <li *ngIf="currentUserId && activeLink('patients/' + currentUserId) || currentUrl.includes('patients/')" [ngClass]="{'active': activeLink('patients/' + currentUserId) || currentUrl.includes('patients/')}"> 
                <mat-icon class="arrow-img">subdirectory_arrow_right</mat-icon>
                <span id="userName" class="selected-user-name">{{ userName }}</span>
            </li>
            <li routerLink="/workflow" [class.active]="activeLink('workflow')">
                <mat-icon>view_kanban</mat-icon>
                <span>Workflow</span>
            </li>
            <li routerLink="/calendar" [class.active]="activeLink('calendar') || router.url.includes('/calendar')">
                <mat-icon>calendar_month</mat-icon>
                <span>Calendar</span>
            </li>
            <li routerLink="/imprint" [class.active]="activeLink('imprint')" class="imprint">
                <img class="imprint-icon" src="./assets/img/imprint.png">
                <span>Imprint</span>
            </li>
        </ul>

    </mat-drawer>
  
    <div class="example-sidenav-content d-none" id="menu">
        <mat-toolbar [style.width]="this.isDrawerOpened ? 'calc(100% - 300px)' : '100%'" #myToolbar>
            <div class="menu-left">
                <mat-icon class="menu-icon" (click)="toggleDrawer()">menu</mat-icon>
                <span class="menu-title">{{ currentLink }}</span>
            </div>
            <div (click)="logout()" class="logout-img-container">
            <mat-icon class="logout-img">logout</mat-icon>
            </div>   
        </mat-toolbar>
    </div>

    <div class="router-container">
        <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
