.mat-drawer-container {
    height: 100vh;
    background-color: rgb(14 23 41);
    .sidenav {
        width: 300px;
        background-color: rgb(3, 33, 56);
        border-right: none;
        box-shadow: 0 0 10px rgb(1,103,175);
        @media only screen and (max-width: 560px) {
            width: 100%;
        }
        .logo-container {
            box-shadow: 0 0 10px rgb(1,103,175);
            display: flex;
            align-items: center;
            justify-content: center;
            height: clamp(3.75rem, 3.2679rem + 2.4107vw, 7.125rem);
            padding-top: 15px;
            box-sizing: border-box;
            img {
               height: clamp(4.125rem, 3.5089rem + 3.0804vw, 8.4375rem);
            }
        }
        .menu-items {
            list-style: none;
            padding: 0;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 100%;
            li {
                font-size: 16px;
                display: flex;
                align-items: center;
                height: 48px;
                width: 68%;
                cursor: pointer;
                gap: 10px;
                padding: 10px 30px;
                transition: all 125ms ease-in-out;
                &:hover {
                    background-color: rgb(1,103,175);
                    border-radius: 10px;
                    transition: all 125ms ease-in-out;
                }
                mat-icon {
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                }
                .imprint-icon {
                    width: 30px;
                }
                
                .arrow-img {
                    font-size: 25px;
                }
                .selected-user-name {
                    margin-bottom: 0;
                }
                span {
                    font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1.125rem);
                }
            }
            .sub-menu-animals {
                font-size: 16px;
                display: flex;
                align-items: center;
                height: 0;
                width: 30%;
                cursor: pointer;
                background-color: unset;
            }
        }
    }
    mat-toolbar {
        height: clamp(3.75rem, 3.2679rem + 2.4107vw, 7.125rem);
        background-color: rgb(3, 33, 56);
        box-shadow: 0 0 10px rgb(1, 103, 175);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
        .menu-left {
            display: flex;
            align-items: center;
            .menu-icon {
                cursor: pointer;
                margin-right: clamp(0.3125rem, 0.1964rem + 0.5804vw, 1.125rem);
                width: clamp(1.375rem, 1.3036rem + 0.3571vw, 1.875rem);
                font-size: clamp(1.375rem, 1.3036rem + 0.3571vw, 1.875rem);
                height: clamp(1.375rem, 1.3036rem + 0.3571vw, 1.875rem);
            }
            .menu-title {
                font-size: clamp(1rem, 0.9464rem + 0.2679vw, 1.375rem);
            }
        }
        .logout-img-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            .logout-img {
                width: clamp(1.375rem, 1.3036rem + 0.3571vw, 1.875rem);
                font-size: clamp(1.375rem, 1.3036rem + 0.3571vw, 1.875rem);
                height: clamp(1.375rem, 1.3036rem + 0.3571vw, 1.875rem);
            }
        }
    }
    .router-container {
        padding: clamp(5rem, 4.1696rem + 4.1518vw, 10.8125rem) clamp(0.625rem, 0.2143rem + 2.0536vw, 3.5rem) 56px clamp(0.625rem, 0.2143rem + 2.0536vw, 3.5rem);
    }
}

.active {
    background-color: rgb(1,103,175);
    border-radius: 10px;
}

.d-none {
    display: none;
}