.mat-drawer-container {
    height: 100vh;
    background-color: rgb(14 23 41);
    .sidenav {
        width: 300px;
        background-color: rgb(3, 33, 56);
        border-right: none;
        box-shadow: 0 0 10px rgb(1,103,175);
        .logo-container {
            box-shadow: 0 0 10px rgb(1,103,175);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 113px;
            padding-top: 15px;
            box-sizing: border-box;
            img {
                height: 135px;
            }
        }
        .menu-items {
            list-style: none;
            padding: 0;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 100%;
            li {
                font-size: 16px;
                display: flex;
                align-items: center;
                height: 48px;
                width: 68%;
                cursor: pointer;
                gap: 10px;
                padding: 10px 30px;
                transition: all 125ms ease-in-out;
                &:hover {
                    background-color: rgb(1,103,175);
                    border-radius: 10px;
                    transition: all 125ms ease-in-out;
                }
                mat-icon {
                    margin-right: 16px;
                    font-size: 30px;
                    width: 30px;
                    height: 30px;
                }
                .arrow-img {
                    font-size: 25px;
                }
                .selected-user-name {
                    margin-bottom: 0;
                }
            }
        }
    }
    mat-toolbar, mat-toolbar-row {
        height: 114px;
        background-color: rgb(1,103,175);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        position: fixed;
        width: calc(100% - 305px);
        z-index: 1;
        right: 0;
        top: 0;
        .menu-left {
            display: flex;
            align-items: center;
            .menu-icon {
                cursor: pointer;
                margin-right: 18px;
                width: 30px;
                font-size: 30px;
                height: 30px;
            }
            .menu-title {
                font-size: 22px;
            }
        }
        .logout-img-container {
            display: flex;
            align-items: center;
            cursor: pointer;
            .logout-img {
                width: 30px;
                font-size: 30px;
                height: 30px;
            }
        }
        
    }
    .router-container {
        padding: 170px 56px 56px 56px;
    }
}

.active {
    background-color: rgb(1,103,175);
    border-radius: 10px;
}

.d-none {
    display: none;
}