.calendar {
    background-color: rgb(3, 33, 56);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(1, 103, 175);
    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 20px 20px 0 20px;
        position: relative;
        button {
            position: absolute;
            left: 21px;
            top: 18.5px;
            background-color: rgb(12, 54, 89);
            border-radius: 10px;
            border: 1px solid rgba(5, 251, 251, 0.5);
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            &:hover {
                background-color: rgb(1, 103, 175);
            }
        }
        .calendar-title {
            display: flex;
            align-items: center;
            color: rgb(5, 251, 251);
            width: 300px;
            justify-content: space-between;
            mat-icon:first-child {
                transform: rotate(180deg);
            }
            mat-icon {
                cursor: pointer;
                vertical-align: middle;
            }
            h2 {
                margin-bottom: 0;
            }
        }
    }
    .calendar-table {
        width: 100%;
        border-collapse: collapse;
        color: white;
        box-sizing: border-box;
       /*  border-style: hidden; */
        .table-header {
            height: 60px;
            font-size: 16px;
            border-bottom: 1.5px solid rgb(1, 103, 175);
            .table-header th:first-child {
                width: 50px;
            }
            .table-header th {
                width: 110px;
            }
        }
        .time-column {
            width: 50px;
            padding: 13px;
        }
        .day-column {
            width: 110px;
            cursor: pointer;
        }
        td {
            border: 1px solid rgb(1, 103, 175);
            height: 32px;
            &:hover:not(tr td:first-child):empty {
                border: 1.5px solid rgb(5, 251, 251);
                box-sizing: border-box;
            }
        }
        td > div {
            height: 100%;
            box-sizing: border-box;
        }
        td.past-day { 
          /*   pointer-events: none;  */
            background-color: rgb(15, 42, 63);
        }
    }
}

.today {
    background-color: rgb(12, 54, 89);
}


.selected-date {
    color: rgb(5, 251, 251); 
}






