<div class="calendar">
  <div class="calendar-header">
      <button (click)="today()" class="today-button">Today</button>
      <div class="calendar-title">
          <mat-icon (click)="previousWeek()">arrow_forward_ios</mat-icon>
          <h2>{{ currentWeek.start | date:'dd.MM.yyyy' }} - {{ addDays(currentWeek.start, 6) | date:'dd.MM.yyyy' }}</h2>
          <mat-icon (click)="nextWeek()">arrow_forward_ios</mat-icon>
      </div>
  </div>

  <table class="calendar-table">
      <tr class="table-header">
        <th></th>
        <th *ngFor="let day of daysOfWeek">
          {{ day | date:'E, dd.MM' }}
        </th>
      </tr>
      <ng-container *ngFor="let hour of hours; let row = index">
        <tr>
          <td class="time-column">{{ hour }}</td>
          <ng-container *ngFor="let day of daysOfWeek; let column = index">
            <td id="{{row}} {{column}}"
              class="day-column" [class.today]="isToday(day)" 
              (click)="openEventDialog(day, hour, $event)"
              [class.past-day]="isPastDay(day)" 
              [attr.rowspan]="getMaxRowspan(day, hour)"
              >
              <!-- *ngIf="isDurationOneHour(getVisibleEvents(day, hour), row, column)" -->
              <div *ngFor="let event of getVisibleEvents(day, hour)"
                  [ngClass]="['categoryColor', getTreatmentCategoryClass(event.categoryColor)]">
                  {{ event.hour }} - {{ calculateEndTime(event.hour, event.duration) }}<br>
                  {{ event.name }}<br>
                  {{ event.treatmentName }}
              </div>
            </td>
          </ng-container>
        </tr>
      </ng-container>
  </table> 

 <!--  <table>
    <td>
      <tr>A1</tr>
      <tr>A2</tr>
      <tr>A3</tr>
    </td>
    <td>
      <tr>B1</tr>
      <tr>B2</tr>
      <tr>B3</tr>
    </td>
    <td>
      <tr>C1</tr>
      <tr>C2</tr>
      <tr>C3</tr>
    </td>
  </table> -->

</div>



 
  


 