<div class="calendar" #calendarContainer>
    <div class="calendar-header">
        <button (click)="today()" class="today-button">Today</button>
        <div class="calendar-title">
            <mat-icon (click)="previousWeek()">arrow_forward_ios</mat-icon>
            <h2>{{ currentWeek.start | date:'dd.MM.yyyy' }} - {{ currentWeek.end | date:'dd.MM.yyyy' }}</h2>
            <mat-icon (click)="nextWeek()">arrow_forward_ios</mat-icon>
        </div>
    </div>

    <table class="calendar-table">
        <tr class="table-header">
          <th></th>
          <th *ngFor="let day of daysOfWeek">
            {{ day | date:'E, dd.MM' }}
          </th>
        </tr>
        <ng-container *ngFor="let hour of hours">
          <tr>
            <td class="time-column">{{ hour }}</td>
            <ng-container *ngFor="let day of daysOfWeek; let i = index">
              <td class="day-column" [class.today]="isToday(day)" (click)="openEventDialog(day, hour, $event)">
                <div *ngIf="isEventVisible && day.toDateString() === eventData.day?.toDateString() && hour === eventData.hour" 
                  [ngClass]="['categoryColor', getTreatmentCategoryClass(eventData.treatment)]" 
                  [style.height.px]="getRowspan(eventData.treatment) * 47">
                  {{ eventData.hour }} - {{ calculateEndTime(eventData.hour, eventData.treatment.duration) }}<br>{{ eventData.name }} {{ eventData.treatment.name }}
                </div>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </table>      
</div>



   
    


   